target/
.classpath
.vscode
.project
.checkstyle
*.DS_Store
.idea
SQLancer.iml
dependency-reduced-pom.xml
.flattened-pom.xml
database0.db
databaseconnectiontest.db
database*.log
database*.properties
database*.script
database*.lck
databases/
logs/
# Keep .settings/org.eclipse.jdt.core.prefs (required by maven-compiler-plugin)
.settings/*
!.settings/org.eclipse.jdt.core.prefs